body {
    font-family: Arial, sans-serif;
    background-color:  #19012a !important; /* dark purple */
    color: #fff !important;
}


#task-list {
    list-style-type: none;
}


.btn {
    margin: 8px;
    box-shadow: #6600af 0px 0px 10px 0px;
}

input, nav {
    box-shadow: #6600af 0px 0px 10px 0px;
}

.card {
    text-align: center;
    background-color: #6600af !important; /* dark purple */
    box-shadow: #6600af 0px 0px 10px 0px;
}

