@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: Arial, sans-serif;
    background-color:  #19012a !important; /* dark purple */
    color: #070000 !important;
}

h1{
   
}
#task-list {
    list-style-type: none;
}

.btn {
    margin: 8px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Custom shadow */
}

input, nav {
    box-shadow: #6600af 0px 0px 1px 0px;
}

.card {
    text-align: center;
    background-color: #ffffff !important; /* dark purple */
    box-shadow: #6600af1c 1px 4px 1px 0px;
    border-radius: 0.5rem; /* Tailwind's rounded class equivalent */
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.page-button {
    margin: 0 5px;
    padding: 5px 10px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
}

.page-button.active {
    background-color: #007bff;
    color: white;
}
.bg-custom-orange {
    background-color: #FF8000;
}
.text-custom-orange {
    color: #FF8000;
}
